<ion-header style="background-color: #29B462; text-align: center">
  <ion-navbar color="secondary">
    <ion-title>
      GoodDeal
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-item *ngFor="let item of list" (click)="gotoItemPage(item)" style="border-bottom: solid 1px #222222">
      {{ getItem(item) }}
      <ion-icon *ngIf="(checkPrice(item) > 0)" item-end name="arrow-round-up" color="danger"></ion-icon>
      <ion-icon *ngIf="(checkPrice(item) == 0)" item-end name="remove"></ion-icon>
      <ion-icon *ngIf="(checkPrice(item) < 0)" item-end name="arrow-round-down" color="secondary"></ion-icon>
    </ion-item>
  </ion-list>

  <!--<button ion-button block (click)="getItemPrice()">Get Price</button>-->
  <!--<button ion-button block (click)="getSpecificItem()">Item</button>-->
</ion-content>
